<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Inventory Management</title>
</head>
<body>
    <%- include('header') %>
    <%- include('navbar', {expertise: expertise}) %>
    <h2>All</h2>
    <main>
        <ul class="players-list">
            <% locals.players.forEach((player) => { %>
                <li value="<%= player.name %>"><%= player.name %></li>
            <% }) %>
        </ul>
    </main>

</body>
</html>