<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Oh! What have you done :(</h1>
    <main>
        <ul>
            <% locals.errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <a href="/expertise">Back</a>
    </main>
</body>
</html>