<nav>
    <a href="/create">Create new player / expertise</a>
    <a href="/destroy">Destroy player / expertise</a>
    <form action="/expertise" method="GET">
        <select name="expert_in_id" id="expert_in_id">
            <option value="All">All</option>
            <% locals.expertise.forEach((expertise) => { %>
                <option value="<%= expertise.expert_in_id %>"><%= expertise.expert_in %></option>
            <% }) %>
        </select>
        <button type="submit">Choose</button>
    </form>
</nav>